Repository abiriadev/dyn: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, taplo-fmt, cargo-sort, cargo-udeps

rustfmt:
  name: Rust formatting
  description: format all rust files
  entry: cargo +nightly fmt --
  language: system
  pass_filenames: false

taplo-fmt:
  name: Taplo formatting
  description: format all toml files
  entry: taplo format
  args:
  - --verbose
  - --diff
  language: system
  pass_filenames: false

cargo-sort:
  name: Cargo sort
  description: sort cargo dependencies
  entry: cargo sort
  args:
  - --workspace
  language: system
  pass_filenames: false

cargo-udeps:
  name: Cargo udeps
  description: Prune unused dependencies
  entry: cargo +nightly udeps --
  language: system
  pass_filenames: false

fix: use `Rc::clone()`
  crates/core/src/environment.rs
Due: rustfmt

feat: add `FlatValue` for error reporting
  crates/core/src/value.rs
Due: rustfmt

feat: add missing method `type_name()`
  crates/core/src/error.rs
  crates/core/src/value.rs
Due: rustfmt

fix: use `.into()` to make Value flat
  crates/core/src/lib.rs
Due: rustfmt

fix: wrap `FlatValue` instead of `Value`
  crates/core/src/value.rs
Due: rustfmt

fix: re-map `Value` array to `FlatValue`
  crates/core/src/value.rs
Due: rustfmt

chore: ignored
  .gitignore
Due: none

fix: apply clippy
  crates/core/src/environment.rs
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/core/src/value.rs
Due: rustfmt

feat: implement `call` method
  crates/core/src/environment.rs
  crates/core/src/lib.rs
  crates/core/src/value.rs
Due: rustfmt

feat: define `drop` method for frame drop
  crates/core/src/environment.rs
Due: rustfmt

feat: implement function call
  crates/core/src/environment.rs
  crates/core/src/lib.rs
Due: rustfmt

docs: add example for closure counter
  examples/closure.dyn
Due: none

docs: add example for basic function usage
  examples/func.dyn
Due: none

docs: add an example demonstrating function curry
  examples/curry.dyn
Due: none

refactor: apply clippy
  crates/core/src/environment.rs
  crates/core/src/value.rs
Due: rustfmt

refactor: use `Arc` instead of `Rc`
  crates/core/src/environment.rs
  crates/core/src/value.rs
Due: rustfmt

refactor: use `RwLock` instead of `RefCell`
  crates/core/src/environment.rs
Due: rustfmt

refactor: avoid unnecessary unwrapping
  crates/span/src/lib.rs
Due: rustfmt

chore: make error message clearer
  crates/core/src/error.rs
Due: rustfmt

feat: include information about 'undefined' identifier itself
  crates/core/src/environment.rs
  crates/core/src/error.rs
Due: rustfmt

feat: make `UndefinedIdentifier` as an Error
  crates/core/src/error.rs
Due: rustfmt

feat: passing labels to downstream
  crates/core/src/error.rs
Due: rustfmt

feat: implement custom span labeling logic
  crates/cli/src/main.rs
  crates/core/src/error.rs
Due: rustfmt

feat: let `ResolvedIdent` to include `Ident`
  crates/core/src/lib.rs
Due: rustfmt

docs(readme): add basic todo
  README.md
Due: none

feat: add lsp
  Cargo.lock
  crates/lsp/Cargo.toml
  crates/lsp/src/main.rs
Due: rustfmt, taplo-fmt, cargo-sort, cargo-udeps

feat: define basic lsp
  Cargo.lock
  crates/lsp/Cargo.toml
  crates/lsp/src/main.rs
Due: rustfmt, taplo-fmt, cargo-sort, cargo-udeps

feat: define `completion` method
  crates/lsp/src/main.rs
Due: rustfmt

feat: impement to return static list
  crates/lsp/src/main.rs
Due: rustfmt

feat: define `Record` type
  crates/parser/src/ast.rs
Due: rustfmt

fix: remain fields order for AST
  crates/parser/src/ast.rs
Due: rustfmt

feat: we need public
  crates/parser/src/ast.rs
Due: rustfmt

feat: add new token
  crates/lexer/src/token.rs
Due: rustfmt

fix: add missing branch
  crates/lexer/src/token.rs
Due: rustfmt

fix: update visitors
  crates/parser/src/dynlang.lalrpop
  crates/parser/src/visitor.rs
Due: rustfmt

feat: add missing `Record` for enums
  crates/core/src/value.rs
Due: rustfmt

feat: add `Record` as `Tree`
  crates/core/src/lib.rs
Due: rustfmt

fix: typo `int0`
  crates/parser/src/dynlang.lalrpop
Due: none

feat: implement record initialization logic
  crates/core/src/lib.rs
  crates/core/src/value.rs
Due: rustfmt

feat: remove `FlatValue`
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/core/src/value.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  taplo-fmt: any of: \.toml$
  cargo-sort: any of: Cargo\.toml$
  cargo-udeps: any of: Cargo\.toml$
