Repository abiriadev/dyn: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, taplo-fmt, cargo-sort, cargo-udep

rustfmt:
  name: Rust formatting
  description: format all rust files
  entry: cargo +nightly fmt
  language: system

taplo-fmt:
  name: Taplo formatting
  description: format all toml files
  entry: taplo format
  args:
  - --verbose
  - --diff
  language: system

cargo-sort:
  name: Cargo sort
  description: sort cargo dependencies
  entry: cargo sort
  args:
  - --workspace
  language: system

cargo-udep:
  name: Cargo udep
  description: Prune unused dependencies
  entry: cargo udep
  language: system

style: add `typos` hook
  .pre-commit-config.yaml
Due: none

style: ignore `clippy` warning for generated code
  .pre-commit-config.yaml
  crates/core/src/lib.rs
  crates/parser/build.rs
  crates/parser/src/parser.rs
Due: rustfmt

feat: implement basic REPL
  crates/cli/src/main.rs
Due: rustfmt

refactor: extract `value` module from `lib/core.rs`
  crates/core/src/lib.rs
  crates/core/src/value.rs
Due: rustfmt

refactor: extract `Environment` to module
  crates/core/src/environment.rs
  crates/core/src/lib.rs
Due: rustfmt

refactor: extract AST parsing logic as a private method
  crates/core/src/lib.rs
Due: rustfmt

feat: implement REPL
  crates/cli/src/main.rs
Due: rustfmt

chore: fix type
  .pre-commit-config.yaml
Due: none

chore: do NOT pass filenames as arguments
  .pre-commit-config.yaml
Due: none

docs(readme): add readme file
  README.md
Due: none

chore: rename installed binary crate to `dyn`
  crates/cli/Cargo.toml
Due: taplo-fmt, cargo-sort, cargo-udep

feat: updated lalrpop grammar file
  crates/parser/src/ast.rs
  crates/parser/src/dynlang.lalrpop
Due: rustfmt

fix: avoid accidential recursion
  crates/parser/src/ast.rs
Due: rustfmt

refactor: update visitor
  crates/parser/src/visitor.rs
Due: rustfmt

feat: use `rustyline` to get input
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
Due: rustfmt, taplo-fmt, cargo-sort, cargo-udep

feat: extract `UnaryExpr` struct
  crates/parser/src/ast.rs
Due: rustfmt

feat: implement handling logic for `UnaryExpr`
  crates/core/src/lib.rs
Due: rustfmt

feat: implement error message
  crates/core/src/error.rs
  crates/core/src/lib.rs
Due: rustfmt

docs(readme): add more examples and build instructions to readme
  README.md
Due: none

docs(readme): add more examples to readme
  README.md
Due: none

feat: implement basic lambda call
  crates/core/src/lib.rs
Due: rustfmt

feat: implement `Environment` as a tree of `Rc<Frame>`s
  crates/core/src/environment.rs
Due: rustfmt

refactor: use `RefCell` to use interior mutability
  crates/core/src/environment.rs
Due: rustfmt

feat: make call stack a popable vector
  crates/core/src/environment.rs
Due: rustfmt

feat: extract mutable `FrameInner` struct from `Frame`
  crates/core/src/environment.rs
Due: rustfmt

feat: update basic methods to use `FrameInner`
  crates/core/src/environment.rs
Due: rustfmt

fix: update `Environment` to use `Frame` instead of `FrameInner` directly
  crates/core/src/environment.rs
Due: rustfmt

feat: wrap init methods with Self
  crates/core/src/environment.rs
Due: rustfmt

feat: update signatures to use `self: Rc<Self>`
  crates/core/src/environment.rs
Due: rustfmt

refactor: `declare` to directly access `table`
  crates/core/src/environment.rs
Due: rustfmt

feat: implement recursive call stack reader
  crates/core/src/environment.rs
Due: rustfmt

feat: reimplement `assign` to recursively find frame
  crates/core/src/environment.rs
Due: rustfmt

chore: remove unused code
  crates/core/src/environment.rs
Due: rustfmt

feat: expose methods to `Environment`
  crates/core/src/environment.rs
Due: rustfmt

feat: introduce closure
  crates/core/src/value.rs
Due: rustfmt

test: delete removed function
  crates/core/src/lib.rs
Due: rustfmt

feat: make function expr as closure
  crates/core/src/lib.rs
Due: rustfmt

fix: use clone instead of dereferencing
  crates/core/src/environment.rs
Due: rustfmt

fix: avoid temp value drop
  crates/core/src/environment.rs
Due: rustfmt

fix: assign borrow issue
  crates/core/src/environment.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  taplo-fmt: any of: \.toml$
  cargo-sort: any of: Cargo\.toml$
  cargo-udep: any of: Cargo\.toml$
