Repository abiriadev/dyn: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, taplo-fmt, cargo-sort, cargo-udeps

rustfmt:
  name: Rust formatting
  description: format all rust files
  entry: cargo +nightly fmt --
  language: system
  pass_filenames: false

taplo-fmt:
  name: Taplo formatting
  description: format all toml files
  entry: taplo format
  args:
  - --verbose
  - --diff
  language: system
  pass_filenames: false

cargo-sort:
  name: Cargo sort
  description: sort cargo dependencies
  entry: cargo sort
  args:
  - --workspace
  language: system
  pass_filenames: false

cargo-udeps:
  name: Cargo udeps
  description: Prune unused dependencies
  entry: cargo +nightly udeps --
  language: system
  pass_filenames: false

feat: add trailing fragment token
  crates/lexer/src/lexer/string.rs
Due: rustfmt

feat: support lexing template string
  crates/lexer/src/lexer.rs
Due: rustfmt

fix: precedence issue
  crates/lexer/src/lexer.rs
Due: rustfmt

docs: fix example to use template string
  examples/loop.dyn
Due: none

feat: support block expr
  crates/parser/src/dynlang.lalrpop
Due: none

fix: all block-related parse error
  crates/parser/src/ast.rs
  crates/parser/src/dynlang.lalrpop
  crates/parser/src/visitor.rs
Due: rustfmt

feat: support block evaluation
  crates/core/src/lib.rs
Due: rustfmt

build: ignore clippy for generated rust files
  tree-sitter-dyn/clippy.toml
Due: taplo-fmt

refactor: rename `lexer` crate to `dyn-lexer`
  crates/cli/Cargo.toml
  crates/core/Cargo.toml
  crates/lexer/Cargo.toml
  crates/parser/Cargo.toml
Due: taplo-fmt, cargo-sort, cargo-udeps

refactor: all `use lexer` statements
  crates/cli/src/main.rs
  crates/core/src/error.rs
  crates/parser/src/dynlang.lalrpop
  crates/parser/src/parser.rs
Due: rustfmt

refactor: rename `span` crate to `dyn-span`
  crates/core/Cargo.toml
  crates/lexer/Cargo.toml
  crates/parser/Cargo.toml
  crates/span/Cargo.toml
Due: taplo-fmt, cargo-sort, cargo-udeps

refactor: all `use span` statements
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/lexer/src/token.rs
  crates/parser/src/ast.rs
  crates/parser/src/dynlang.lalrpop
  crates/parser/src/parser.rs
Due: rustfmt

refactor: rename `parser` crate to `dyn-parser`
  crates/cli/Cargo.toml
  crates/core/Cargo.toml
  crates/parser/Cargo.toml
Due: taplo-fmt, cargo-sort, cargo-udeps

refactor: all `use dyn_parser` statements
  crates/cli/src/main.rs
  crates/core/src/environment.rs
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/core/src/value.rs
Due: rustfmt

refactor: rename `cli` crate to `dyn-cli`
  crates/cli/Cargo.toml
Due: taplo-fmt, cargo-sort, cargo-udeps

refactor: rename `lsp` crate to `dyn-lsp`
  crates/lsp/Cargo.toml
Due: taplo-fmt, cargo-sort, cargo-udeps

refactor: rename `treesitter` crate to `dyn-treesitter`
  crates/treesitter/Cargo.toml
Due: taplo-fmt, cargo-sort, cargo-udeps

feat: add vue component for monaco editor
  docs/components/Editor.vue
Due: none

chore: add `monaco-editor`
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

build: add Dockerfile for cli
  Dockerfile
Due: none

build: fix dockerfile to include `tree-sitter-dyn`
  Dockerfile
Due: none

build: fix install path
  Dockerfile
Due: none

docs: add manual build guide
  docs/build-from-source.md
Due: none

docs: add playground
  docs/.vitepress/config.mts
  docs/playground.md
Due: none

fix: provide `width:` key
  docs/components/Editor.vue
Due: none

build: commit `Cargo.lock`
  Cargo.lock
Due: none

docs: update social link
  docs/.vitepress/config.mts
Due: none

docs: add more nav links
  docs/.vitepress/config.mts
Due: none

docs: add guide/intro
  docs/guide/intro.md
Due: none

docs: add sidebar for guide
  docs/.vitepress/config.mts
Due: none

docs: add newline between long lines
  docs/guide/intro.md
Due: none

docs: populate guide/getting-started dir
  docs/guide/getting-started/build-from-source.md
  docs/guide/getting-started/installation.md
Due: none

docs: add getting-started docs to sidebar
  docs/.vitepress/config.mts
Due: none

docs: add more description demonstrating how to run
  docs/guide/getting-started/build-from-source.md
Due: none

docs: add quickstart
  docs/guide/getting-started/quickstart.md
Due: none

docs: add quickstart to the sidebar
  docs/.vitepress/config.mts
Due: none

docs: move syntax guide to `guide/syntax-overview`
  docs/api-examples.md
  docs/guide/syntax-overview/basic-syntax.md
Due: none

docs: rename to `Basic Syntax` then add to sidebar
  docs/.vitepress/config.mts
  docs/guide/syntax-overview/basic-syntax.md
Due: none

docs: add more description to guide
  docs/guide/syntax-overview/basic-syntax.md
Due: none

docs: add more helpful description
  docs/guide/syntax-overview/basic-syntax.md
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  taplo-fmt: any of: \.toml$
  cargo-sort: any of: Cargo\.toml$
  cargo-udeps: any of: Cargo\.toml$
