Repository abiriadev/dyn: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, taplo-fmt, cargo-sort, cargo-udeps

rustfmt:
  name: Rust formatting
  description: format all rust files
  entry: cargo +nightly fmt --
  language: system
  pass_filenames: false

taplo-fmt:
  name: Taplo formatting
  description: format all toml files
  entry: taplo format
  args:
  - --verbose
  - --diff
  language: system
  pass_filenames: false

cargo-sort:
  name: Cargo sort
  description: sort cargo dependencies
  entry: cargo sort
  args:
  - --workspace
  language: system
  pass_filenames: false

cargo-udeps:
  name: Cargo udeps
  description: Prune unused dependencies
  entry: cargo +nightly udeps --
  language: system
  pass_filenames: false

refactor: migrate to css module
  docs/components/Split.vue
Due: none

feat: make `container` css modue
  docs/components/Split.vue
Due: none

docs: add `Playground` component
  docs/components/Playground.vue
Due: none

refactor: move `left` ref
  docs/components/Split.vue
Due: none

docs: remove unnedded width and height props
  docs/components/Editor.vue
Due: none

docs: set `min-width: 0`
  docs/components/Split.vue
Due: none

docs: render Editor
  docs/components/Playground.vue
Due: none

feat: add `<Output />` component
  docs/components/Output.vue
  docs/components/Playground.vue
Due: none

docs: add `<Buttons />` component
  docs/components/Buttons.vue
  docs/components/Playground.vue
Due: none

docs: add gaps and padding
  docs/components/Buttons.vue
  docs/components/Playground.vue
Due: none

feat: add `interfaces` crate
  crates/interfaces/Cargo.toml
  crates/interfaces/src/lib.rs
Due: rustfmt, taplo-fmt, cargo-sort, cargo-udeps

feat: introduce `CompilerConfig`
  crates/interfaces/src/lib.rs
Due: rustfmt

feat: separate compiler and session
  crates/interfaces/src/lib.rs
Due: rustfmt

feat: define basic methods
  crates/interfaces/src/lib.rs
Due: rustfmt

docs: separate Editor and EditorInner
  docs/components/Editor.vue
  docs/components/EditorInner.vue
  docs/components/Playground.vue
  docs/playground.md
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  taplo-fmt: any of: \.toml$
  cargo-sort: any of: Cargo\.toml$
  cargo-udeps: any of: Cargo\.toml$
