Repository abiriadev/dyn: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, taplo-fmt, cargo-sort, cargo-udeps

rustfmt:
  name: Rust formatting
  description: format all rust files
  entry: cargo +nightly fmt --
  language: system
  pass_filenames: false

taplo-fmt:
  name: Taplo formatting
  description: format all toml files
  entry: taplo format
  args:
  - --verbose
  - --diff
  language: system
  pass_filenames: false

cargo-sort:
  name: Cargo sort
  description: sort cargo dependencies
  entry: cargo sort
  args:
  - --workspace
  language: system
  pass_filenames: false

cargo-udeps:
  name: Cargo udeps
  description: Prune unused dependencies
  entry: cargo +nightly udeps --
  language: system
  pass_filenames: false

feat: handle stringification of dotdot token
  crates/lexer/src/token.rs
Due: rustfmt

refactor: sort reverse lexicographical order
  crates/lexer/src/lexer/punctuation.rs
Due: rustfmt

feat: let `||` omitable
  crates/parser/src/dynlang.lalrpop
Due: none

test: move and refactor old tests to use new api
  crates/lexer/src/lexer/comment.rs
  crates/lexer/src/tests.rs
Due: rustfmt

feat: define default values for the lexer
  crates/lexer/src/lexer.rs
Due: rustfmt

docs: fix some example codes
  examples/closure.dyn
  examples/loop.dyn
Due: none

test: fix all unit tests
  crates/lexer/src/lexer.rs
  crates/lexer/src/lexer/comment.rs
Due: rustfmt

test: add a new unit test
  crates/lexer/src/lexer.rs
Due: rustfmt

feat: add option to skip comment tokens
  crates/lexer/src/lexer.rs
Due: rustfmt

test: update comments-related tests to set flag off
  crates/lexer/src/lexer.rs
  crates/lexer/src/lexer/comment.rs
Due: rustfmt

refactor: use `LexerConfig::default` for dyn parser
  crates/parser/src/parser.rs
Due: rustfmt

refactor: update cli to accept a flag to ignore comments
  crates/cli/src/main.rs
Due: rustfmt

refactor: avoid too many parameters
  crates/cli/src/main.rs
Due: rustfmt

chore: add `serde` for `span`
  Cargo.lock
  crates/span/Cargo.toml
Due: taplo-fmt, cargo-sort, cargo-udeps

feat: implement `Serialize` for `Span`
  crates/span/src/lib.rs
Due: rustfmt

chore: add serde for `lexer` package
  Cargo.lock
  crates/lexer/Cargo.toml
Due: taplo-fmt, cargo-sort, cargo-udeps

feat: implement `Serialize` for `Token` and `LexError`
  crates/lexer/src/error.rs
  crates/lexer/src/token.rs
Due: rustfmt

feat: support serde-serialization for tokens
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/lexer/src/token.rs
Due: rustfmt, taplo-fmt, cargo-sort, cargo-udeps

feat: add tree-sitter-dyn
  tree-sitter-dyn/Cargo.toml
  tree-sitter-dyn/binding.gyp
  tree-sitter-dyn/bindings/node/binding.cc
  tree-sitter-dyn/bindings/node/index.js
  tree-sitter-dyn/bindings/rust/build.rs
  tree-sitter-dyn/bindings/rust/lib.rs
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/package.json
  tree-sitter-dyn/pnpm-lock.yaml
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
  tree-sitter-dyn/src/tree_sitter/parser.h
Due: rustfmt, taplo-fmt, cargo-sort, cargo-udeps

feat: add subtration and division
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: add multiplication
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: add let and let!
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: add an unary expr rules
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: add array
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: support assignments
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: support iter-of loop
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: add low-precedence binary operations
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: add string literal
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: support mod operation
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: add basic precedence
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: support if stmt
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

fix: add `binexpr` as an `expr`
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: support if-else
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: add && and ||
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

feat: add function
  tree-sitter-dyn/grammar.js
  tree-sitter-dyn/src/grammar.json
  tree-sitter-dyn/src/node-types.json
  tree-sitter-dyn/src/parser.c
Due: none

chore: show toml, json, md to github lang stats
  .gitattributes
Due: none

feat: add binding to tree-sitter c parser
  Cargo.lock
  crates/treesitter/Cargo.toml
  crates/treesitter/src/lib.rs
  crates/treesitter/src/main.rs
Due: rustfmt, taplo-fmt, cargo-sort, cargo-udeps

feat: add logic to recursively walk cst tree
  crates/treesitter/src/main.rs
Due: rustfmt

feat: add leading fragment token
  crates/lexer/src/lexer/string.rs
Due: rustfmt

feat: add central fragment token
  crates/lexer/src/lexer/string.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  taplo-fmt: any of: \.toml$
  cargo-sort: any of: Cargo\.toml$
  cargo-udeps: any of: Cargo\.toml$
